.dashboard-page {

    .statistics {
        display: flex;
        margin-top: 30px;
        gap: 20px;
        > div {
            // width: 350px;
            flex: 1 0 33%;
            box-sizing: border-box;
            padding: 20px 24px;
            background-color: $color_white;
            border-radius: 37.92px;
            position: relative;
            padding-bottom: 90px;

            // overflow: hidden;

            .top {
                > * {
                    display: inline-block;
                }
                .title {
                    font-size: 17px;
                    color: $color_b;
                }

                .tag {
                    display: inline-block;
                    padding: 0px 7px;
                    direction: ltr;
                    border-radius: 24px;
                    font-weight: bold;
                    margin-inline-end: 10px;
                    &.green {
                        background-color: rgba($color: $color_green, $alpha: 0.2);
                        color: $color_green;
                    }

                    &.red {
                        background-color: rgba($color: $color_red, $alpha: 0.2);
                        color: $color_red;
                    }
                }
                .timeline {
                    position: relative;
                    cursor: pointer;
                   float: left;

                   &:hover {
                    .date {
                        color: $color_b;
                       }
                   }
                   .date {
                    color: $color_white_c;
                    transition: 0.3s;

                    display: flex;
                        justify-content: center;
                        align-items: center;
                   }
                }
            }

            .value {
                color: $color_a;
                margin-top: -15px;

                h2 {
                    font-size: 47px;
                }
                p {
                    margin-inline-start: 5px;
                }

                > * {
                    display: inline-block;
                    font-weight: bold;
                }

            }

            .chart {
                position: absolute;
                width: calc(100% + 16px);
                bottom: 0;
                left: -8px;
                height: 53%;

                canvas {
                    overflow: hidden;
                    // border-radius: 37.92px 0 0 37.92px ;
                }
            }

        }
    }
}
