.login-page {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;


    &.login-done {
        .left {
            background-color: $color_green;
        }
        .rigth {
            .submit {
                background-color: $color_green !important;
            }
        }
      }

    > div {
    //   width: 50%;
      height: 100%;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;

      flex-wrap: wrap;
      flex: 1 1 50%;


      @keyframes toBottom {
        // 40% {
        //     background-color: $color_backgroud;
        // }
        // 45% {
        //     background-color: $color_a;

        // }

        // 95% {
        //     background-color: $color_a;

        // }
        100% {
            background-position-y: 100vh;
            // background-color: $color_backgroud;
        }
      }

      &.left {
        // flex: 1 1 50%;
        position: relative;
        background-image: url('~/assets/images/pattren-big.svg');
        background-size: cover;
        // background-position: center;
        background-position-x: center;
        background-color: $color_backgroud;
        background-position-y: 0vh;
        animation: toBottom infinite 10s linear;
        background-color: $color_a;
        transition: 0.3s;
        // border-radius: 0 100px 100px 0;
        .pattren {
            height: 100%;
            z-index: -1;
        }

      }

      &.rigth {
        flex: 1 0 50%;


        .form {
          width: 300px;
          background-color: $color_white;
          padding:30px 30px;
          padding-bottom: 17px;
          border-radius: 42px;



            .logo {
              width: 90px;

            }


          .fields {

            > div {
                margin-top: 14px;
                label {
                    color: $color_b;
                    font-size: 17px;
                }

                input {
                    @extend .main-input
                }
            }
            .err {
              color: $color_red;
              font-weight: normal;
            }

          }

          .actions {
            .forget-password {
                color: $color_b;
                margin-top: 20px;
                display: block;
            }


            .submit {
                @extend .main-button;
                transition: 0.3s;
                display: block;
                width: 100%;
                margin-top: 0px !important;
                font-weight: 600;
                cursor: pointer;

            }

            .pattren {
                display: block;
                margin:  0 auto;
                margin-top: 13px;
            }
          }


        }
      }
    }
}
