$color_a: #6366FF;
$color_b: #343586;

$color_backgroud: #F9F9FF;


$color_red:#F26A81;
$color_green:#3FDCAA;
$color_yellow:#F2C76A;
$color_sky:#6ACEF2;
$color_blue:#3F7EDC;


$color_white:#fff;
$color_white_b:#F8F8F8;
$color_white_c:#C3C3C7;



$color_black:#000;

