* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhaijaan 2";
}

// Base
@import 'colors.scss';
@import 'global.scss';

body {
    direction: rtl;
    background-color: $color_white;
}

::selection {
    background-color: $color_a;
    color: $color_backgroud;
}



// Pages
@import 'pages/login.scss';

@import 'pages/dashboard.scss';
@import 'pages/dashboard/index.scss';
// Cop

@import 'components/msg.scss';


