* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhaijaan 2";
}

// Base
@import 'colors.scss';
@import 'global.scss';

body {
    direction: rtl;
    background-color: $color_backgroud;
}

::selection {
    background-color: $color_a;
    color: $color_backgroud;
}



// Pages
@import 'pages/login.scss';
